{% extends 'accounts/accounts_base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block main %}


<div class="container">

    <form id="signup" method="POST">
        {% csrf_token %}
        {% include 'includes/message.html' %}

        <div class="header">

            <div>
                <h3>Login</h3>
                
               
            </div>
                <a class="home-button" href="{% url 'home' %}">Home</a>
                
            </div>
        
        <div class="sep"></div>

        <div class="inputs">
        
            <input type="text" placeholder="Username" name="username" autofocus />
        
            <input type="password" placeholder="Password" name="password"/>
            
    
            <input type="submit" value="Login">

            <div class="checkboxy">
                <a href="{% url 'register_selection' %}"> Need Account?</a>
            </div>
            
            <div class="checkboxy">
                <a href="{% url 'home' %}"> Back?</a>
            </div>
        
        </div>

    </form>

</div>
</div>
​

{%endblock main%}