{% extends 'accounts/accounts_base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block main %}
{% load crispy_forms_tags %} 


<div class="container">

    <form id="signup" method="POST">
        {% csrf_token %}
        
        <div class="header">

        <div>
            <h3>Sign Up</h3>
            
            <p>Fill and boom</p>
        </div>
            <a class="home-button" href="{% url 'home' %}">Home</a>
            
        </div>
        
        <div class="sep"></div>


        
        <div class="inputs">
            <div class="row">
                <div class="col">
                    {{user_form.first_name|as_crispy_field}}
                </div>
                <div class="col">
                    {{user_form.last_name|as_crispy_field}}
                </div>
                <div class="col">
                    {{user_form.email|as_crispy_field}}
                </div>
                <div class="col">
                    {{user_form.username|as_crispy_field}}
                </div>
                <div class="col">
                    {{user_form.password|as_crispy_field}}
                </div>
                <div class="col">
                    {{AccountForm.phoneNumber|as_crispy_field}}
                </div>

               {% if AccountForm.certification %}

                    <div class="col">
                        {{AccountForm.certification|as_crispy_field}}
                    </div>

                    <div class="col">
                        {{AccountForm.specialization|as_crispy_field}}
                    </div>

                {% endif %}

            </div>
  
   

               
                <input type="submit" >
            <div class="checkboxy">
                <a href="{% url 'login' %}"> Already Registerd?</a>
            </div>
            
            <div class="checkboxy">
                <a href="{% url 'register_selection' %}"> Back?</a>
            </div>
        
        </div>

    </form>

</div>
</div>
​

{%endblock main%}