@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(24, 24, 24);
  }
.container {
    width: 406px;
    max-width: 406px;
    margin: 0 auto;
}

#signup {
    padding: 0px 25px 25px;
    background-color: rgb(24, 24, 24);
    box-shadow: 
        0px 0px 0px 5px rgba(255, 255, 255, 0.4), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    border-radius: 5px;
    display: table;
    position: static;
    margin-top: 200px;
    padding:40px;
}

#signup .header {
    margin-bottom: 20px;
}

#signup .header h3 {
    color: #F8AB2F;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#signup .header p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
}

#signup .sep {
    height: 1px;
    background: #e8e8e8;
    width: 406px;
    margin: 0px -25px;
}

#signup .inputs {
    margin-top: 25px;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white

}

#signup .inputs label {
    color: #F8AB2F;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

input::-webkit-input-placeholder {
    color:    #b5b5b5;
}

input:-moz-placeholder {
    color:    #b5b5b5;
}

#signup .inputs input,textarea {
    background: #f5f5f5;
    font-size: 0.8rem;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}

#signup .inputs input:focus {
    background: #fff;
    box-shadow: 0px 0px 0px 3px #ff9b8e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;   
}

#signup .inputs .checkboxy {
    display: block;
    position: static;
    height: 25px;
    margin-top: 10px;
    clear: both;
}

#signup .inputs input[type=checkbox] {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

#signup .inputs label.terms {
    float: left;
    font-size: 14px;
    font-style: italic;
}
a{
    color: #F8AB2F;

}
#signup .inputs #submit {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    color: #F8AB2F;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#1a5080),
        to(#46B9E9));
    border-radius: 5px;
    border: 1px solid #737b8d;
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    display: table;
    position: static;
    clear: both;
    transition: all .2s;

}

#signup .inputs #submit:hover {
    background: black
    
}

.helptext,.errorlist{
    display: none;
}