
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* header */

.material-icons {
  color: #ec7e36;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 15px;
  background: #00233d;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left img {
  width: 100px;
  margin-left: 15px;
}

.header i {
  padding: 0 7px;
  cursor: pointer;
}

.header__search form {
  border: 1px solid #698eff;
  height: 35px;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__search input {
  width: 500px;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  border: none;
  height: 100%;
  background: #1a5080;
}

.header__search button {
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
  border-radius: 0;
  background: #1a5080;
}

/* Sidebar */
.mainBody {
  height: calc(100vh - 70px);
  display: flex;
  /* overflow: hidden; */
  background-color: #1A5080;
}

.sidebar {
  height: 100%;
  width: 230px;
  background-color: #00233d;
  overflow-y: scroll;
}

.sidebar__categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.sidebar__category {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.sidebar__category span {
  margin-left: 15px;
}

.sidebar__category:hover {
  background: #698eff;
  cursor: pointer;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}

/* videos */

.videos {
  background-color: #1A5080;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  border-top: 1px solid #698eff;
  overflow-y: scroll;
}

.videos__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.video {
  width: 310px;

  margin-bottom: 30px;
}

.video__thumbnail {
  width: 100%;
  height: 170px;
}

.video__thumbnail img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.author img {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.video__details {
  display: flex;
  margin-top: 10px;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h3 {
  color: #F8AB2F;
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 6px;
}

.title a,
span {
  text-decoration: none;
  color: #F8AB2F;
  font-size: 14px;
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(3, 3, 3);
}

@media (max-width: 425px) {
  .header__search {
    display: none;
  }

  .header__icons .material-icons {
    display: none;
  }

  .header__icons .display-this {
    display: inline;
  }

  .sidebar {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__search {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .show-sidebar {
    display: inline;
    position: fixed;
    top: 4.4rem;
    height: auto;
  }
}

@media (max-width: 941px) {
  .header__search input {
    width: 300px;
  }
}



/* profile */


.container-profile {
  max-width: 85%;
 
}

.background img{
  width: 100%;
  height: 300px;
}

.user-profile-info{
    /* display: flex; */
    /* max-width: 70%; */
    /* justify-content: space-evenly; */
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    /* margin: 36px; */
    /* padding: 87px; */
    background-color: #698eff;
    padding-left: 100px;
    padding-top: 30px;
    padding-right: 100px;
    padding-bottom: 30px;

}
.profile-buttons button{
  background: none;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
  cursor: pointer;
}
.profile-vidoes{
  margin: 20px;
}
.profile-channels{
  display: flex;
  margin: 20px;
}

a{
  text-decoration: none;
  color: #F8AB2F;
}