{% load static %}

 <!-- Header Starts -->
 <div class="header">
    <div class="header__left">
      <i id="menu" class="material-icons">menu</i>
      <a href="{% url 'home' %}">
      <img
        src="{% static 'images/PNG Logo - Youth Path (English Color).png' %}"
        alt="logo"
      />
      </a>
    </div>

    <div class="header__search">
      <form action="{% url 'search_video' %}" method="POST" >
        {% csrf_token %}
        <input type="text" placeholder="Search" name="search"/>
        <button type="submit"><i class="material-icons">search</i></button>
      </form>
    </div>

    <div class="header__icons">
      <i class="material-icons display-this">search</i>
      <i class="material-icons">videocam</i>
      {% comment %} <i class="material-icons">apps</i>
      <i class="material-icons">notifications</i> {% endcomment %}
      <a href="{% url 'profile' %}"><i class="material-icons display-this">account_circle</i></a>
      
    </div>
  </div>
  <!-- Header Ends -->