{% load static %}

 <!-- Header Starts -->
 <div class="header">
    <div class="header__left">
    
      <a href="{% url 'home' %}">
      <img
        src="{% static 'images/PNG Logo - Youth Path (English Color).png' %}"
        alt="logo"
      />
      </a>
    </div>

    <div class="header__search">
      <form action="{% url 'search_video' %}" method="POST" >
        {% csrf_token %}
        <input type="text" placeholder="Search" name="search"/>
        <button type="submit"><i class="material-icons">search</i></button>
      </form>
    </div>
   
    <div class="header__icons">
      <i id="menu" class="material-icons">menu</i>
      <!-- <i class="material-icons display-this">search</i> -->
      {% if  user.is_authenticated %}
      <a title="Upload Video" href="{% url 'upload-video' %}"><i class="material-icons">videocam</i></a>
        {{user_role}}
      <a title="Create Channel" href="{% url 'createChannel' %}"> <span class="material-icons material-symbols-outlined">draw</span></a>
      {% endif %}

      {% if user.is_authenticated %}
      <a title="Logout"  href="{% url 'logout' %}"><span class="material-icons material-symbols-outlined">logout</span></a>
      {% else %}
      <a title="Login/Register"  href="{% url 'login' %}"><span class="material-icons material-symbols-outlined">login </span></a>
      {% endif %}
      {% if user.is_authenticated %}
      <a title="Profile" href="{% url 'profile' %}"><i class="material-icons display-this">account_circle</i></a>
      <a title="Current User" href="{% url 'profile' %}"><span class="request-user"> {{ request.user }} </span></a>
      {% endif %}
  
    </div>
  </div>
  <!-- Header Ends -->