{% load static %}
   

  
   <div class="sidebar">

   <!-- Sidebar Starts -->
   <div class="header__left temp-logo-sidebar">

    <a href="{% url 'home' %}">
    <img
      src="{% static 'images/PNG Logo - Youth Path (English Color).png' %}"
      alt="logo"
    />
    </a>
  </div>


<br>

   <div class="header__search sidebar-search">
    <form action="{% url 'search_video' %}" method="POST" >
      {% csrf_token %}
      <input type="text" placeholder="Search" name="search"/>
      <button type="submit"><i class="material-icons">search</i></button>
    </form>


</div>
<hr />

    <div class="sidebar__categories">

      <a href="{% url 'home' %}">
      <div class="sidebar__category">
        <i class="material-icons">home</i>
        <span>Home</span>
      </div>
      </a>
      <!-- <div class="sidebar__category">
        <i class="material-icons">local_fire_department</i>
        <span>Trending</span>
      </div> -->
      <a href="{% url 'subscription-list' %}">
      <div class="sidebar__category">
        <i class="material-icons">subscriptions</i>
        <span>Subscriptions</span>
      </div>
      </a>
    </div>

    <hr />

    <div class="sidebar__categories">

      <!-- <a href="#">
      <div class="sidebar__category">
        <i class="material-icons">library_add_check</i>
        <span>Library</span>
      </div>
      </a> -->
      <!-- <div class="sidebar__category">
        <i class="material-icons">history</i>
        <span>History</span>
      </div> -->
      {% if request.session.is_preacher%}
      <a href="{% url 'your_video_list_view' %}">
      <div class="sidebar__category">
        <i class="material-icons">play_arrow</i>
        <span>Your Videos</span>
      </div>
      </a>
      {% endif %}
      <!-- <div class="sidebar__category">
        <i class="material-icons">watch_later</i>
        <span>Watch Later</span>
      </div> -->
      <a href="{% url 'liked-video-list' %}">
      <div class="sidebar__category">
        <i class="material-icons">thumb_up</i>
        <span>Liked videos</span>
      </div>
      </a>

    </div>
    <hr />
   
    <div class="header__left sidebar-bot-img" >
  
      <a href="{% url 'home' %}">
      <img
        src="{% static 'images/PNG Logo - Youth Path (English Color).png' %}"
        alt="logo"
      />
      </a>
    </div>
     
  </div>
  <!-- Sidebar Ends -->