{% load static %}
   
   <!-- Sidebar Starts -->
   <div class="sidebar">
    <div class="sidebar__categories">
      <div class="sidebar__category">
        <i class="material-icons">home</i>
        <span><a href="{% url 'home' %}">Home</a></span>
      </div>
      <!-- <div class="sidebar__category">
        <i class="material-icons">local_fire_department</i>
        <span>Trending</span>
      </div> -->
      <div class="sidebar__category">
        <i class="material-icons">subscriptions</i>
        <span><a href="{% url 'profile' %}">Subcriptions</a></span>
      </div>
    </div>
    <hr />
    <div class="sidebar__categories">
      <div class="sidebar__category">
        <i class="material-icons">library_add_check</i>
        <span><a href="{% url 'channels' %}">Library</a></span>
      </div>
      <!-- <div class="sidebar__category">
        <i class="material-icons">history</i>
        <span>History</span>
      </div> -->
      <div class="sidebar__category">
        <i class="material-icons">play_arrow</i>
        <span><a href="{% url 'videos' %}">Your Videos</a></span>
      </div>
      <!-- <div class="sidebar__category">
        <i class="material-icons">watch_later</i>
        <span>Watch Later</span>
      </div> -->
      <div class="sidebar__category">
        <i class="material-icons">thumb_up</i>
        <span><a href="{% url 'profile' %}">Liked videos</a></span>
      </div>
    </div>
    <hr />
   
    <div class="sidebar__category">
        <span>Subcriptions</span>
      
      </div>
  
  </div>
  <!-- Sidebar Ends -->