{% load static %}
{% block main %}

<div class='user-info'>
    <!-- <div class="subscribe-button"> -->
    
    <img class='user-pic' src="{% static 'images/YouTube-Logo.png' %}" alt="user profile picture">
    <span class='user-name'>Benjamin Parker</span>
    <br>
    <span class='num-subscribers'>2.8m subscribers</span>

</div>

<div class='user-info'>
    <!-- <div class="subscribe-button"> -->
    
    <img class='user-pic' src="{% static 'images/YouTube-Logo.png' %}" alt="user profile picture">
    <span class='user-name'>Benjamin Parker</span>
    <br>
    <span class='num-subscribers'>2.8m subscribers</span>

</div>

 
    <!-- Main Body Ends -->
    
    
{% endblock main %}