
{% extends 'accounts/accounts_base.html' %}
{% load static %}
{% block title %} Change Password {% endblock title %}
{% block main %}


<div class="container">

    <form id="signup"  method="POST" action=""  enctype="multipart/form-data">
        {% csrf_token %}

        <div class="header">
            <h3>Chnage Password</h3>
        </div>
        
        <div class="sep"></div>

        <div class="inputs">
        
            <input type="password" placeholder="Old Password" name="old_password" autofocus />
        
            <input type="password" placeholder="New Password" name="password"/>

            <input type="password" placeholder="Confirm New Password" name="c_password"/>
            
    
            <input type="submit" value="Change Password">

            <div class="checkboxy">
                <a href="{% url 'home' %}"> Back?</a>
            </div>
        
        </div>

    </form>

</div>
</div>
​

{%endblock main%}