{% load static %}
{% block main %}
 
    <!-- Main Body Ends -->
    <div class='user-info subs-list-parent-grid'>
        <!-- <div class="subscribe-button"> -->
        {% for s in channel_list %}
        <div class="sub-list-grid"> 
            <img class='user-pic' src="{{s.channel.Thumbnail.url}}" alt="user profile picture">
            <a href="{% url 'channels' s.channel.id %}"> <span class='user-name'>{{s.channel.Name}}</span> </a>
            <br>
            <span class='num-subscribers'>{{s.subscription}} Subscriber</span>
            
        </div>
        {% endfor %}
    </div>
    
{% endblock main %}