

{% extends 'accounts/accounts_base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block main %}
{% load crispy_forms_tags %} 


<div class="container">

    <form id="signup" method="POST">
        {% csrf_token %}
        <div class="header">
        
            <h3>Create Channel</h3>
            
            <p>Fill and boom</p>
            
        </div>
        
        <div class="sep"></div>

        <div class="inputs">
            <div class="row">
                <div class="col">
                    {{channelForm.Name|as_crispy_field}}
                </div>
                <div class="col">
                    {{channelForm.Type|as_crispy_field}}
                </div>
                <div class="col">
                    {{channelForm.Thumbnail|as_crispy_field}}
                </div>
                <div class="col">
                    {{channelForm.banner|as_crispy_field}}
                </div>
                <div class="col">
                    {{channelForm.about|as_crispy_field}}
                </div>
            </div>
  
                <input type="submit"  value="Create Channel">
        
                <div class="checkboxy">
                    <a href="{% url 'home' %}"> Back?</a>
                </div>
        
        </div>

    </form>

</div>
</div>
​

{%endblock main%}