

{% extends 'base.html' %}
{% load static %}
{% block title %} Liked Videos {% endblock title %}
{% block main %}


    <!-- Main Body Starts -->
    <div class="mainBody">

      {% include 'includes/sidebar.html' %}

      <!-- Videos Section -->
      
      <div id="text" class="videos">
        <h1>Liked Videos</h1>
      
        <div class="videos__container">
          {% for vid in like_videos %}
          <a href="{% url 'videoplayer' vid.video.id %}">
          <!-- Single Video starts -->
          <div class="video">
            <div class="video__thumbnail">
              <img src="{{vid.video.videoThumbnail.url}}" alt="" />
            </div>
            <div class="video__details">
              <div class="author">
                <img src="{{vid.video.channel.Thumbnail.url}}" alt="" />
              </div>
              <div class="title">
                <h3>
                    {{vid.video.Title}}
                </h3>
                <a href="">{{vid.video.channel.Name}}</a>
                <span> {{ vid.views }} Views • {{vid.video.uploaded_date}} </span>
              </div>
            </div>
          </div>
          <!-- Single Video Ends -->
        </a>
          {% endfor %}

    
        </div>

      </div>
    </div>
 
    <!-- Main Body Ends -->
    
    
{% endblock main %}