{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}
{% block main %}
        

    <!-- Main Body Starts -->
    <div class="mainBody">
        {% include 'includes/sidebar.html' %}

        
        <div class="container-profile"> 



            <div class="user-profile-info">
            
                    <!-- <div class="subscribe-button"> -->
             
                    <a class="subscribe-button" href="{% url 'update_profile' %}">Edit Profile</a>
                    <img class='user-pic' src="{{ user.profile_image.url }}" alt="user profile picture">
                    <span class='profile-name-des'> {{ user.user.first_name }} {{ user.user.last_name }} </span>
           
                    {% if user.is_preacher %}
                    <div class='profile-name-des'>{{user.specialization}}</div>
                    {% endif %}
                    <!-- </div> -->
                    <div class="profile-buttons">
                        
                        <button onClick="videos()">Videos</button>
                        <button  onClick="Channels()">Channels</button>

                        <script>
                            function videos(){
                                        $.ajax({
                                url: "videos",
                                type: 'GET',
                                success: function (data) {
                                    
                                    $('#load-vidoes').load( "videos");
                                    $( "#load-vidoes" ).show();
                                    $( "#load-channels" ).hide();
                                }
                                });
                            } 
                        </script>

                        <script>
                            function Channels(){

                                $.ajax({

                                url: "channels" + "#content",
                                type: 'GET',
                                success: function (data) {
                                    $('#load-channels').load( "channels"  + '#content');
                                    $( "#load-channels" ).show();
                                    $( "#load-vidoes" ).hide();
                                },
                                

                                });
                            } 
                        

                        </script>

                        <script>
                            
                        </script>

                    </div>  

        

            </div>


                <div id="load-vidoes" class="profile-vidoes"> </div>
                <div id="load-channels" class="profile-channels"> </div>

        </div>
          

            
    </div>

     

 
    <!-- Main Body Ends -->
    
    
{% endblock main %}