

{% extends 'base.html' %}
{% load static %}
{% block title %} Search Results {% endblock title %}
{% block main %}


    <!-- Main Body Starts -->
    <div class="mainBody">

      {% include 'includes/sidebar.html' %}

      <!-- Videos Section -->
      
      <div id="text" class="videos">
        <h1>Search Results</h1>
        <hr>
        <br>
        <h5>Channels</h5>

      <div class='user-info subs-list-parent-grid'>
        <!-- <div class="subscribe-button"> -->
        {% for c in Channel %}
        <div class="sub-list-grid"> 
            <img class='user-pic' src="{{c.Thumbnail.url}}" alt="user profile picture">
            <a href="{% url 'channels' c.id %}">  <span class='user-name'>{{c.Name}}</span> </a>
            <br>
            <span class='num-subscribers'>{{Channel.count }} Subscriber</span>
            {% if is_subscribed %}
                    <form action="{% url 'unsubscribe-channel' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="v_id" id="" value="">
                        <input type="hidden" name="c_id" id="" value="{{c.id}}">
                        <input class="subscribe-button" value="UNSUBSCRIBE" type="submit">
                    </form>
                {% else %}
                    <form action="{% url 'subscribe-channel' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="v_id" id="" value="">
                        <input type="hidden" name="c_id" id="" value="{{c.id}}">
                        <input class="subscribe-button" value="SUBSCRIBE" type="submit">
                    </form>
                {% endif %}
        </div>
        {% endfor %}
    </div>
      <hr>
      <br>
      <h5>Videos</h5>
      <br>
    
        <div class="videos__container">
          <!-- Single Video starts -->
          {% if video_list %}
          {% for vid in video_list %}
          <a href="{% url 'videoplayer' vid.id %}">
          <div class="video">
            <div class="video__thumbnail">
              <img src="{{vid.videoThumbnail.url}}" alt="" />
            </div>
            <div class="video__details">
              <div class="author">
                <img src="{{vid.channel.Thumbnail.url}}" alt="" />
              </div>
              <div class="title">
                <h3>
                    {{vid.Title}} 
                </h3>
                <a href="{% url 'channels' vid.channel.id %}">  {{vid.channel.Name}}</a>
                <span>  Views • {{vid.uploaded_date }} </span>
              </div>
            </div>
          </div>
          <!-- Single Video Ends -->
        </a>
          {% endfor %}
          {% else %}
          <h1> No Search Results Found </h1>
      {% endif %}
    
        </div>
 
      </div>
    </div>
 
    <!-- Main Body Ends -->
    
    
{% endblock main %}