
{% extends 'accounts/accounts_base.html' %}
{% load static %}
{% block title %} Edit Profile {% endblock title %}
{% block main %}


<div class="container">

    <form id="signup" method="POST"  enctype="multipart/form-data" action="" >
        {% csrf_token %}

        <div class="header">

            <div>
                <h3>Update Profile</h3>
                
                <p>Fill and boom</p>
            </div>
                <a class="home-button" href="{% url 'home' %}">Home</a>
                
            </div>
        <div class="sep"></div>

        <div class="inputs">
            <label> First Name </label>
            <input required type="text" placeholder="{{ userModel.user.first_name }}" name="first_name" autofocus />
            <label> Last Name </label>
            <input required type="text" placeholder="{{ userModel.user.last_name }}" name="last_name"/>
            <label> Phone# </label>
            <input required type="number" placeholder="{{ userModel.phoneNumber }}" name="phoneNumber" autofocus />
            <label> Profile Image </label>
            <input required type="file" placeholder="Profile Image" name="profileImage"/>

            <input type="submit" value="Update Profile">
            <div class="checkboxy">
                <a href="{% url 'profile' %}"> Back?</a>
            </div>
        
        </div>

    </form>

</div>
</div>
​

{%endblock main%}