

{% extends 'base.html' %}
{% load static %}
{% block title %} Subscriptions {% endblock title %}
{% block main %}


    <!-- Main Body Starts -->
    <div class="mainBody">

      {% include 'includes/sidebar.html' %}

      <!-- Videos Section -->

    <div class='user-info subs-list-parent-grid'>
        <!-- <div class="subscribe-button"> -->
        {% for s in subs %}
        <div class="sub-list-grid"> 
            <img class='user-pic' src="{{s.channel.Thumbnail.url}}" alt="user profile picture">
            <a href="{% url 'channels' s.channel.id %}"> <span class='user-name'>{{s.channel.Name}}</span> </a>
            <br>
            <span class='num-subscribers'>{{subs.count }} Subscriber</span>
            {% if s.is_subscribed %}
                    <form action="{% url 'unsubscribe-channel' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="v_id" id="" value="">
                        <input type="hidden" name="c_id" id="" value="{{s.channel.id}}">
                        <input class="subscribe-button" value="UNSUBSCRIBE" type="submit">
                    </form>
                {% else %}
                    <form action="{% url 'subscribe-channel' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="v_id" id="" value="">
                        <input type="hidden" name="c_id" id="" value="{{s.channel.id}}">
                        <input class="subscribe-button" value="SUBSCRIBE" type="submit">
                    </form>
                {% endif %}
        </div>
        {% endfor %}
    </div>
    </div>
 
    <!-- Main Body Ends -->
    
    
{% endblock main %}