{% load static %}
{% block main %}

    {% for video in videos %}
          <!-- Single Video starts -->
          <div  class="video">
            <div class="video__thumbnail">
              <img src="{{ video.videoThumbnail.url }}" alt="" />
            </div>
            <div class="video__details">
              <div  id="#content" class="author">
                <img src="{{ video.creator.profile_image }}" alt="" />
              </div>
              <div class="title">
                <h3>
                  {{ video.Description }}
                </h3>
                <a href="">FutureCoders</a>
                <span>10M Views • 3 Months Ago</span>
              </div>
            </div>
          </div>
          <!-- Single Video Ends -->
{% endfor %}
 
    <!-- Main Body Ends -->
    
    
{% endblock main %}