{% extends 'base.html' %}
{% load static %}
{% block title %} Video {% endblock title %}
{% block main %}



<script>
    function videos(){
                $.ajax({
        url: "update_comment",
        type: 'GET',
        success: function (data) {
            
            $('#load-vidoes').load( "update_comment");
      
        }
        });
    } 
</script>


  
<div class="mainBody-1">
    {% include 'includes/sidebar.html' %}


    <div class="container">
        <!-- Current Video  -->
        <div class="video-info">
           
                <video class="video-size" controls>
                    <source src="{{video.videoFile.url}}" type="video/mp4">
                </video> 
            <div class="video-title">{{video.Title}}</div>
            <div class="number-of-views">
                <span>{{num_views}} views </span>
            </div>
            <div class="like-and-dislike-section">
               <a href="{% url 'video-like' video.id %}"><i class="material-icons">thumb_up</i> <span class='likes-share like-share-elements'> {{like_count}} </span> </a>
               <a href="{% url 'video-dislike' video.id %}"><i class="material-icons">thumb_down</i> <span class='likes-share like-share-elements'> {{dislike_count}} </span></a>
                    
            </div>

            <div class='user-info'>
                <!-- <div class="subscribe-button"> -->

                {% if is_subscribed %}
                 <form action="{% url 'unsubscribe-channel' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="v_id" id="" value="{{video.id}}">
                    <input type="hidden" name="c_id" id="" value="{{channel_name.id}}">
                    <input class="subscribe-button" value="UNSUBSCRIBE" type="submit">
                 </form>
                {% else %}
                    <form action="{% url 'subscribe-channel' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="v_id" id="" value="{{video.id}}">
                        <input type="hidden" name="c_id" id="" value="{{channel_name.id}}">
                        <input class="subscribe-button" value="SUBSCRIBE" type="submit">
                    </form>
                {% endif %}
             
               

                <img class='user-pic' src="{{channel_name.Thumbnail.url}}" alt="user profile picture">
                <a href="{% url 'channels' channel_name.id %}"> <span class='user-name'>{{channel_name.Name}}</span>   </a> 
                <br>
                <span class='num-subscribers'>{{subs}} subscribers</span>
                <div class='video-description'>{{channel_name.about}}</div>
    
                <!-- </div> -->

            </div>
            <div class="comments-review">
                <span> {{num_comments}} Comments </span><i class="fa fa-sort-amount-desc" aria-hidden="true"></i> 
            </div>
          
            <div class="grid-comments">
                <div class="grid-item-comment">
                    {% for com in comments %}
                    <div class="viewer-info">
                        <img class="circle-icon" src="{{com.user.profile_image.url}}" alt="user-img">
                        <span class="comment-title">{{com.user}}</span>
                        <span class="gray-color-1">{{com.commented_date}}</span>
                    </div>

                    <div class="edit-comment-flex"> 
                        <p class='comment-description edit-comment-flex-1'>{{com.text}}</p>
                        <form title="Delete Comment" class="edit-comment-flex-2" method="POST" action="{% url 'comment_delete' params com.id %}">
                            {% csrf_token %}
                            <input type="hidden" value="{{ params }}" name="params">
                            <button class="edit-comment-button" type="submit"> <i class="material-icons ">delete</i></button>
                        </form>
                        <a title="Edit Comment" href="{% url 'update_comment' params com.id %}"  >  <i class="material-icons ">edit</i> </a>

                    </div>

                    <div class="like-and-dislike-section-comments">
                        <!-- <i class="material-icons">thumb_up</i>  <span> 1 </span>
                        <i class="material-icons">thumb_down</i> <span> 546 </span>
                        <span class="reply-button">REPLY</span> -->
                    </div>
                
                    {% endfor %}
                </div>
        

                <form action="{% url 'add_comment' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{video.id}}" name="videoId">
                    {{ comment_form.as_p }}
                    <input type="submit" class="add-comment" value="Add Comment">
                </form>

            </div>
        </div>
    </div>


    <!-- recommended videos section  -->
    <div class="recommended-videos">
        <div class='up-next-autoplay'><span style="margin-right: 100px;">Up next</span>

        </div>
        {% for all_vid in context_list %}
        <a href="{% url 'videoplayer' all_vid.object.id %}">
        <div class="recommended-video-info">
            <img class='recommended-video-thumbnail' src='{{all_vid.object.videoThumbnail.url}}' alt="a recommended video thumbnail ">
            <span class='recommended-video-title'>{{all_vid.object.Title}}</span><br>
            <a href="{% url 'channels' all_vid.object.channel.id %}"> <span class='recommended-video-channel'>{{all_vid.object.channel.Name}}</span> </a>
            <br>
            <span class='recommended-video-views'>{{all_vid.views}} Views </span>

        </div>
        </a>
        {% endfor %}
        
        
    </div>
    <!-- <div> -->

        <div id="load-vidoes" > </div>


</div>
{% endblock main %}