{% load static %}
{% block main %}


 
    <!-- Main Body Ends -->
    
    <div class="videos__container">
      {% for vid in videos %}
      <a href="{% url 'videoplayer' vid.id %}"> 
      <!-- Single Video starts -->
      <div class="video">
        <div class="video__thumbnail">
          <img src="{{vid.videoThumbnail.url}}" alt="" />
        </div>
        <div class="video__details">
          <div class="author">
            <img src="{{vid.channel.Thumbnail.url}}" alt="" />
          </div>
          <div class="title">
            <h3>
                {{vid.Title}}
            </h3>
            <a href="{% url 'channels' vid.channel.id %}">{{vid.channel.Name}}</a>
            <span> {{ vid.views }} Views • {{vid.uploaded_date}} </span>
          </div>
        </div>
      </div>
      <!-- Single Video Ends -->
    </a>
      {% endfor %}


    </div>


{% endblock main %}