{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block main %}
  
<div class="mainBody-1">
    {% include 'includes/sidebar.html' %}


    <div class="container">
        <!-- Current Video  -->
        <div class="video-info">
           
                <video width="600px" height="515" controls>
                    <source src="{{video.videoFile.url}}" type="video/mp4">
                </video> 
            <div class="video-title">{{video.Title}}</div>
            <div class="number-of-views">
                <span>{{num_views}} views </span>
            </div>
            <div class="like-and-dislike-section">
               <a href="{% url 'video-like' video.id %}"><i class="material-icons">thumb_up</i> <span class='likes-share like-share-elements'> {{like_count}} </span> </a>
               <a href="{% url 'video-dislike' video.id %}"><i class="material-icons">thumb_down</i> <span class='likes-share like-share-elements'> {{dislike_count}} </span></a>
                    
            </div>

            <div class='user-info'>
                <!-- <div class="subscribe-button"> -->
                <button class="subscribe-button">SUBSCRIBE</button>
                <img class='user-pic' src="{{channel_name.Thumbnail.url}}" alt="user profile picture">
                <span class='user-name'>{{channel_name.Name}}</span>    
                <br>
                <span class='num-subscribers'>{{subs}} subscribers</span>
                <div class='video-description'>{{channel_name.about}}</div>
    
                <!-- </div> -->

            </div>
            <div class="comments-review">
                <span> {{num_comments}} Comments </span><i class="fa fa-sort-amount-desc" aria-hidden="true"></i> 
            </div>
            <div class="grid-comments">
                <div class="grid-item-comment">
                    <div class="viewer-info">
                        <img class="circle-icon" src="{% static 'images/PNG Logo - Youth Path (English Color).png' %}" alt="user-img">
                        <span class="comment-title">Cafe Music BGM channel</span>
                        <span class="gray-color">1 year ago</span>
                    </div>

                    <p class='comment-description'>I subscribe when I woke up and didn’t realize but then like it on
                        purpose 😜😂😂😂😂😅</p>
                    <div class="like-and-dislike-section-comments">
                        <!-- <i class="material-icons">thumb_up</i>  <span> 1 </span>
                        <i class="material-icons">thumb_down</i> <span> 546 </span>
                        <span class="reply-button">REPLY</span> -->
                    </div>
                    
                </div>


                <form action="{% url 'add_comment' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{video.id}}" name="videoId">
                    {{ comment_form.as_p }}
                    <input type="submit" class="add-comment" value="Add Comment">
                </form>

            </div>
        </div>
    </div>


    <!-- recommended videos section  -->
    <div class="recommended-videos">
        <div class='up-next-autoplay'><span style="margin-right: 100px;">Up next</span>

        </div>
        <div class="recommended-video-info">
            <img class='recommended-video-thumbnail' src='{% static 'images/YouTube-Logo.png' %}' alt="a recommended video thumbnail ">
            <span class='recommended-video-title'>Classical music for Work</span><br>
            <span class='recommended-video-channel'>relaxingTunes</span><br>
            <span class='recommended-video-views'>2,4 M views</span>

        </div>
        <div class="recommended-video-info">
            <img class='recommended-video-thumbnail' src='{% static 'images/YouTube-Logo.png' %}' alt="a recommended video thumbnail ">
            <span class='recommended-video-title'>Classical Music for Reading - Mozart, Chopin, Debussy, Tchaikovsky...
            </span><br>
            <span class='recommended-video-channel'>classicalFanatic32</span><br>
            <span class='recommended-video-views'>1,2 M views</span>

        </div>
        <div class="recommended-video-info">
            <img class='recommended-video-thumbnail' src='{% static 'images/YouTube-Logo.png' %}' alt="a recommended video thumbnail ">
            <span class='recommended-video-title'>Classical Music for Reading - Mozart, Chopin, Debussy, Tchaikovsky...
            </span><br>
            <span class='recommended-video-channel'>classicalFanatic32</span><br>
            <span class='recommended-video-views'>1,2 M views</span>

        </div>
        <div class="recommended-video-info">
            <img class='recommended-video-thumbnail' src='{% static 'images/YouTube-Logo.png' %}' alt="a recommended video thumbnail ">
            <span class='recommended-video-title'>Classical Music for Reading - Mozart, Chopin, Debussy, Tchaikovsky...
            </span><br>
            <span class='recommended-video-channel'>classicalFanatic32</span><br>
            <span class='recommended-video-views'>1,2 M views</span>

        </div>
        <div class="recommended-video-info">
            <img class='recommended-video-thumbnail' src='{% static 'images/YouTube-Logo.png' %}' alt="a recommended video thumbnail ">
            <span class='recommended-video-title'>Classical Music for Reading - Mozart, Chopin, Debussy, Tchaikovsky...
            </span><br>
            <span class='recommended-video-channel'>classicalFanatic32</span><br>
            <span class='recommended-video-views'>1,2 M views</span>

        </div>
        <div class="recommended-video-info">
            <img class='recommended-video-thumbnail' src='{% static 'images/YouTube-Logo.png' %}' alt="a recommended video thumbnail ">
            <span class='recommended-video-title'>Classical Music for Reading - Mozart, Chopin, Debussy, Tchaikovsky...
            </span><br>
            <span class='recommended-video-channel'>classicalFanatic32</span><br>
            <span class='recommended-video-views'>1,2 M views</span>

        </div>
        <div class="recommended-video-info">
            <img class='recommended-video-thumbnail' src='{% static 'images/YouTube-Logo.png' %}' alt="a recommended video thumbnail ">
            <span class='recommended-video-title'>Classical Music for Reading - Mozart, Chopin, Debussy, Tchaikovsky...
            </span><br>
            <span class='recommended-video-channel'>classicalFanatic32</span><br>
            <span class='recommended-video-views'>1,2 M views</span>

        </div>
        <div class="recommended-video-info">
            <img class='recommended-video-thumbnail' src='{% static 'images/YouTube-Logo.png' %}' alt="a recommended video thumbnail ">
            <span class='recommended-video-title'>Classical Music for Reading - Mozart, Chopin, Debussy, Tchaikovsky...
            </span><br>
            <span class='recommended-video-channel'>classicalFanatic32</span><br>
            <span class='recommended-video-views'>1,2 M views</span>

        </div>
        <div class="recommended-video-info">
            <img class='recommended-video-thumbnail' src='{% static 'images/YouTube-Logo.png' %}' alt="a recommended video thumbnail ">
            <span class='recommended-video-title'>Classical Music for Reading - Mozart, Chopin, Debussy, Tchaikovsky...
            </span><br>
            <span class='recommended-video-channel'>classicalFanatic32</span><br>
            <span class='recommended-video-views'>1,2 M views</span>

        </div>
        <div class="recommended-video-info">
            <img class='recommended-video-thumbnail' src='{% static 'images/YouTube-Logo.png' %}' alt="a recommended video thumbnail ">
            <span class='recommended-video-title'>Classical Music for Reading - Mozart, Chopin, Debussy, Tchaikovsky...
            </span><br>
            <span class='recommended-video-channel'>classicalFanatic32</span><br>
            <span class='recommended-video-views'>1,2 M views</span>

        </div>
        <div class="recommended-video-info">
            <img class='recommended-video-thumbnail' src='{% static 'images/YouTube-Logo.png' %}' alt="a recommended video thumbnail ">
            <span class='recommended-video-title'>Classical Music for Reading - Mozart, Chopin, Debussy, Tchaikovsky...
            </span><br>
            <span class='recommended-video-channel'>classicalFanatic32</span><br>
            <span class='recommended-video-views'>1,2 M views</span>

        </div>
        <div class="recommended-video-info">
            <img class='recommended-video-thumbnail' src='{% static 'images/YouTube-Logo.png' %}' alt="a recommended video thumbnail ">
            <span class='recommended-video-title'>Classical Music for Reading - Mozart, Chopin, Debussy, Tchaikovsky...
            </span><br>
            <span class='recommended-video-channel'>classicalFanatic32</span><br>
            <span class='recommended-video-views'>1,2 M views</span>

        </div>
        <div class="recommended-video-info">
            <img class='recommended-video-thumbnail' src='{% static 'images/YouTube-Logo.png' %}' alt="a recommended video thumbnail ">
            <span class='recommended-video-title'>Classical Music for Reading - Mozart, Chopin, Debussy, Tchaikovsky...
            </span><br>
            <span class='recommended-video-channel'>classicalFanatic32</span><br>
            <span class='recommended-video-views'>1,2 M views</span>

        </div>
        <div class="recommended-video-info">
            <img class='recommended-video-thumbnail' src='{% static 'images/YouTube-Logo.png' %}' alt="a recommended video thumbnail ">
            <span class='recommended-video-title'>Classical Music for Reading - Mozart, Chopin, Debussy, Tchaikovsky...
            </span><br>
            <span class='recommended-video-channel'>classicalFanatic32</span><br>
            <span class='recommended-video-views'>1,2 M views</span>

        </div>
        
    </div>
    <!-- <div> -->




</div>
{% endblock main %}